<p>
  adventure works!
</p>

<table class="table table-striped">
  <tr>
    <th>Code</th>
    <th>Location</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>101</td>
    <td>Manali</td>
    <td>
      <a [routerLink]="['/packages/adventure','101']">Show Details</a>
    </td>
  </tr>
  <tr>
    <td>102</td>
    <td>Horsely Hills</td>
    <td>
      <a [routerLink]="['/packages/adventure','102']">Show Details</a>
    </td>
  </tr>
  <tr>
    <td>103</td>
    <td>Kuntala</td>
    <td>
      <a [routerLink]="['/packages/adventure','103']">Show Details</a>
    </td>
  </tr>
</table>

{{data}}